
*.exe

*.o

\.idea/

cmake-build-debug/

CMakeLists\.txt

"URI 2065 - (feito por Tarlison).cpp"

"URI 1500 - (feito por Tarlison).cpp"

"URI 1076 - (feito por Tarlison).cpp"

"URI 1082 - (feito por Gabriel).cpp"

"URI 2560 - Surf Aquatico (feito pelo Gabriel A).cpp"
.vscode/launch.json
.vscode/tasks.json
